<%= turbo_frame_tag dom_id(comment) do %>
  <div class="p-6 bg-slate-50 rounded-xl mb-6">
    <p class="font-semibold"><%= comment.user.name %></p>
    <div class="prose prose-slate">
      <%= comment.content %>
    </div>

    <div class="mt-3 flex items-center gap-2 w-full">
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment), class: "btn btn-white" %>
      <%= button_to "Delete", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-white" %>
    </div>
  </div>
<% end %>
